.split-pane-divider {
   -fx-background-color: transparent;
   visibility: false;
   -fx-opacity: 0;
}

.container {
  -fx-background-color: #fff;
}

.img {
  -fx-background-color: #000;
}

.btn {
  -fx-background-color: #48f;
  -fx-text-fill: #eee;
}

.btn:hover {
  -fx-background-color: #f84;
}

.btn:pressed, .btn:selected {
  -fx-background-color: #4a8;
}